<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.RecommendDAO">

    <select id="selectHotel" resultType="com.example.demo.vo.RecommendVO">
        SELECT 
            hl.address, 
            hl.IMG1 AS img1, 
            hl.IMG2 AS img2, 
            hl.NAME AS name, 
            hl.STANDARD AS standard
        FROM hotel_reservations hr
        JOIN hotel_list hl 
            ON hr.DEFAULT_NUM = hl.DEFAULT_NUM
        ORDER BY hr.RESERVATION_COUNT DESC;
    </select>

</mapper>