<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.example.demo.dao.RegionSearchDAO">
	<select id = "select_region" resultType = "com.example.demo.vo.HotelVO">
		SELECT DISTINCT hl.*, hr.reservation_count FROM hotel_reservations hr JOIN hotel_list hl ON hr.DEFAULT_NUM = hl.DEFAULT_NUM WHERE region = #{region} AND subregion = #{subregion}
	</select>
	<select id = "select_region2" resultType = "com.example.demo.vo.HotelVO">
		SELECT DISTINCT hl.*, hr.reservation_count FROM hotel_reservations hr JOIN hotel_list hl ON hr.DEFAULT_NUM = hl.DEFAULT_NUM WHERE region = #{region}
	</select>
	
<select id="select_region3" resultType="com.example.demo.vo.HotelVO">

        SELECT DISTINCT hl.*, hr.reservation_count FROM hotel_reservations hr JOIN hotel_list hl ON hr.DEFAULT_NUM = hl.DEFAULT_NUM WHERE hl.address LIKE '%' || #{address} || '%'  OR hl.name LIKE '%' || #{name} || '%'
</select>
<select id="select_region4" resultType="com.example.demo.vo.HotelVO">
    <![CDATA[
    SELECT * FROM (
        SELECT hl.*, hr.reservation_count 
        FROM hotel_reservations hr 
        JOIN hotel_list hl ON hr.DEFAULT_NUM = hl.DEFAULT_NUM 
        ORDER BY hr.reservation_count DESC
    )
    WHERE ROWNUM <= 50
    ]]>
</select>

<select id="select_region5" resultType="com.example.demo.vo.HotelVO">
    SELECT DISTINCT hl.*, hr.reservation_count 
    FROM hotel_reservations hr 
    JOIN hotel_list hl ON hr.DEFAULT_NUM = hl.DEFAULT_NUM 
    WHERE hl.DEFAULT_NUM = #{default_num}
</select>

<select id="select_region6" resultType="com.example.demo.vo.HotelVO">
    SELECT DISTINCT hl.*, hr.reservation_count 
    FROM hotel_reservations hr 
    JOIN hotel_list hl ON hr.DEFAULT_NUM = hl.DEFAULT_NUM 
    WHERE hl.TYPE = #{type}
</select>

</mapper>