<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ReservationDAO">
<insert id="insert_info"> INSERT INTO reservation VALUES( #{imp_uid}, #{product_name}, #{cost}, #{email}, #{name}, #{tel}, #{address}, #{dateRange}, TO_DATE(#{dateStr}, 'YYYY/MM/DD'), #{person},#{DEFAULT_NUM}) </insert>
</mapper>
